{% load mediapath %}
<div class="card shadow-sm">
    <div class="card-body">
        <h1>{{ blog.article_title }}</h1>
        <p class="card-text">{{ blog.slug }}</p>
        <p class="card-text">{{ blog.content|slice:"100" }}</p>

        <p><a class="btn btn-secondary" href="{% url 'catalog:blog_detail' blog.slug %}">Посмотреть &raquo;</a></p>
        <p><a class="btn btn-warning" href="{% url 'catalog:blog_update' blog.pk %}">Изменить &raquo;</a></p>
        <p><a class="btn btn-danger" href="{% url 'catalog:blog_delete' blog.pk %}">Удалить &raquo;</a></p>
    </div>
</div>