<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:homepage' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:product_list' %}">Товары</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:blog_list' %}">Статьи</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Зарегистрироваться</a>
    </li>
        <div class="uk-card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input class="btn btn-primary" type="submit"
                       value="Сброс ">
                <button href="{% url 'users:generate_password' %}" type="submit" class="uk-button-primary">Восстановить пароль</button>
            </form>
        </div>
    </li>
    {% endif %}
</ul>