{% extends 'catalog/base.html'%}
{% load mediapath %}

{% block content %}
    <div class="card-body">
        <img src="{% mediapath blog.preview_image %}" alt="Картинка"  width="200" height="200"/>
        <h1>{{ blog.article_title }}</h1>
        <p class="card-text">{{ blog.slug }}</p>
        <p class="card-text">{{ blog.content|slice:"100" }}</p>
        <p class="card-text">{{ blog.date_of_creation }}</p>
        <p class="card-text">{{ blog.views_count }}</p>

        <div class="card-footer">
            <a href="{% url 'catalog:blog_list' %}" class="btn btn-primary"><< Назад</a>
        </div>>
    </div>
{% endblock %}