{% extends 'catalog/base.html'%}

{% load mediapath %}

{% block content %}
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success"
                   value="{% if blog %}Сохранить{% else %} Создать {% endif %}">
        </form>
        <div class="card-footer">
            <a href="{% url 'catalog:blog_list' %}" class="btn btn-primary"><< Назад</a>
        </div>>
    </div>
{% endblock %}